<h1>Create a Spell</h1>
<p style="color:red"><%= @error %></p>
<form action="/spells" method="post">
    <label for="spell_name">Spell Name:</label>
    <input type ="text" name="spell_name">
    <p><label for="character_class">Class:</label>
    <select name="character_class">
        <option value="Bard">Bard</option>
        <option value="Cleric">Cleric</option>
        <option value="Druid">Druid</option>
        <option value="Sorcerer">Sorcerer</option>
        <option value="Warlock">Warlock</option>
        <option value="Wizard">Wizard</option></select></p>
    <p><label for="level">Level:</label>
    <input type ="integer" name="level"></p>
    <p><label for="desc">Description:</label>
    <textarea name="desc"></textarea></p>
    <p><label for="damage">Damage:</label>
    <input type ="text" name="damage">
    <select name="damage_dice">
        <option value="none">---</option>
        <option value="d6">d6</option>
        <option value="d8">d8</option>
        <option value="d10">d10</option></select>
    <select name="damage_type">
        <option value="none">---</option>
        <option value="acid">Acid</option>
        <option value="bludgeoning">Bludgeoning</option>
        <option value="cold">Cold</option>
        <option value="fire">Fire</option>
        <option value="lightning">Lightning</option>
        <option value="piercing">Piercing</option>
        <option value="poison">Poison</option>
        <option value="psychic">Psychic</option>
        <option value="radiant">Radiant</option>
        <option value="slashing">Slashing</option></select></p>
    <p><label for="range">Range:</label>
    <input type ="text" name="range"></p>
    <p><label for="duration">Duration:</label>
    <input type ="text" name="duration"></p>
    <p><label for="casting_time">Casting Time:</label>
    <input type ="text" name="casting_time"></p>
    <p><label for="school">School:</label>
    <select name="school">
        <option value="Abjuration">Abjuration</option>
        <option value="Conjuration">Conjuration</option>
        <option value="Divination">Divination</option>
        <option value="Enchantment">Enchantment</option>
        <option value="Evocation">Evocation</option>
        <option value="Illusion">Illusion</option>
        <option value="Necromancy">Necromancy</option>
        <option value="Transmutation">Transmutation</option>
    </select></p>
    <p><button type="submit">Add Spell</button></p>
</form>