<h1>Create a Spell</h1>
<form action="/spells" method="post">
    <label>Spell Name:</label>
    <input type ="text" name="spell_name">
    <p><label>Class:</label>
    <input type ="text" name="character_class"></p>
    <p><label>Level:</label>
    <input type ="integer" name="level"></p>
    <p><label>Description:</label>
    <textarea name="desc"></textarea></p>
    <p><label>Damage:</label>
    <input type ="text" name="damage"></p>
    <p><label>Range:</label>
    <input type ="text" name="range"></p>
    <p><label>Duration:</label>
    <input type ="text" name="duration"></p>
    <p><label>Casting Time:</label>
    <input type ="text" name="casting_time"></p>
    <p><label>School:</label>
    <input type ="text" name="school"></p>
    <p><button type="submit">Add Spell</button></p>
</form>