<h1><%= @spell.spell_name %></h1>
<h3>Level: <%= @spell.level%> Class: <%=@spell.character_class%> <h3>

<form action="/spells/<%=@spell.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <% if @spell.user == current_user %>
        <button type="submit"> Delete Spell </button>
    <% end %>
</form>
